{% extends 'UmbrellaAdminBundle::adminLayout.html.twig' %}

{# Customize view error fields #}
{# {% form_theme form_profile 'UmbrellaAdminBundle:Form:fields.html.twig' %} #}

{% block content %}

    <div class="add_edit_page_title">
        <h2>Add System User</h2>
    </div>

    <form id="add_user_form" action="" method="post">
        <div class="form_container">
            <table border="0" align="center" width="80%">
                <tr class="form_head">
                    <td  colspan=4>
                        <h3>User information</h3>
                    </td>
                </tr>
                <tr>
                    <td width="18%">
                        First Name *
                    </td>
                    <td width="34%">
                        <input type="text" id="first_name" name="first_name" value="" style="width: 150px;"></input>
                    </td>
                    <td width="18%">
                        Last Name *
                    </td>
                    <td width="28%">
                        <input type="text" id="last_name" name="last_name" value="" style="width: 150px;"></input>
                    </td>
                </tr>
                {# <tr>
                    <td>
                        Address *
                    </td>
                    <td>
                        <input type="text" id="address" name="address" value="" style="width: 150px;"></input>
                    </td>
                    <td>
                        City *
                    </td>
                    <td>
                        <input type="text" id="city" name="city" value="" style="width: 150px;"></input>
                    </td>
                </tr> #}
                {# <tr>
                    <td>
                        State *
                    </td>
                    <td>
                        <select id="state" name="state" style="width: 155px;">
                            
                        </select>
                    </td>
                    <td>
                        Zipcode *
                    </td>
                    <td>
                        <input type="text" id="zipcode" name="zipcode" value="" style="width: 150px;"></input>
                    </td>
                </tr> #}
                <tr>
                    <td>
                        Email *
                    </td>
                    <td>
                        <input type="text" id="email" name="email" value="" style="width: 150px;"></input>
                    </td>
                    <td>
                        Home Phone *
                    </td>
                    <td>
                        <input type="text" id="home_phone" name="home_phone" value="" style="width: 150px;"></input>
                    </td>
                </tr>
                <tr>
                    <td>
                        Email Confirm *
                    </td>
                    <td>
                        <input type="text" id="email_confirm" name="email_confirm" value="" style="width: 150px;"></input>
                    </td>
                    <td>
                        Cell Phone
                    </td>
                    <td>
                        <input type="text" id="cell_phone" name="cell_phone" value="" style="width: 150px;"></input>
                    </td>
                </tr>
                <tr>
                    <td>
                        Password *
                    </td>
                    <td>
                        <input type="password" id="password" name="password" style="width: 150px;"></input>
                    </td>
                    <td>
                        Alterntive Phone
                    </td>
                    <td>
                        <input type="text" id="alt_phone" name="alt_phone" value="" style="width: 150px;"></input>
                    </td>
                </tr>
                <tr>
                    <td>
                        Password<br/>  Confirm *
                    </td>
                    <td>
                        <input type="password" id="password_confirm" name="password_confirm" style="width: 150px;"></input>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </div>

        <div style="text-align:center">
            <input type="submit" class="button" name="add_user" id="add_user" value="Save"></input>
        </div>        
    
    </form>

    <a href="{{ path('system_users') }}" class="button" style="margin-left:900px;">Back</a>
{% endblock %}